<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Clear History</title>
</head>

<body>
	<h1>Clear Hsitory</h1>

    <div>
	    Your history has been cleared
	</div>

    <br>
    <a href="/">Home</a>

</body>

</html>