<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon Search</title>
</head>

<body>
	<h1>Display Pokemon Search Results</h1>

    <a href="/">Home</a>
    <br>
    <br>

    <div>
		<%- pokemonTable %>
	</div>

    <br>
    
    <br>
    <a href="/">Home</a>


</body>

</html>