<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokemon History</title>
</head>

<body>
	<h1>Display Pokemon History</h1>

    <a href="/">Home</a>

    <br>

    <div>
		<%- searchTable %>
	</div>
    <br>

    <form action="/history" method="post">
        <button type="submit">Clear History</button>
	</form>

    <br>
    <a href="/">Home</a>


    


    

    <br>

</body>

</html>