<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Search</title>
    <style>
      form {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
    </style>
  </head>

  <body>
    <h1 class="title">Search Pokemon</h1>

    <form
      action="/search"
      method="post"
      style="border: 2px solid gray; padding: 1rem 1rem 1rem 1rem"
    >
      <label
        ><strong>Pokemon's Name: </strong>
        <input
          type="text"
          name="pokename"
          minlength="2"
          placeholder="Atleast 2 letters"
          required
      /></label>

      <button type="submit">Search</button>
      <input type="reset" />
      <br /><br />
      If you type in "random" search will be randomized
      <br />
      Otherwise it will return all pokemon that contains that string
      <br />
      You can't search all pokemon at once (leaving text empty) otherwise this
      will crash, I've tried
      <br />
    </form>
    <br />
    <a href="/">Home</a>
  </body>
</html>
